{% extends "proses/base/prose_template.html" %}
{% load static %}
{% block content_body %}
    <br><br>


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-12 mbr-fonts-style display-7">
                <ul>
                    <li><strong>Manuscripts in the Henry E. Huntington Library</strong> - compiled by Ralph Hanna.<a
                            href="{% static 'imep-summary.pdf'%}"> See
                        summary</a></li>
                    <li><strong><em>Manuscripts in the John Rylands University Library of Manchester and Chetham’s
                        Library,
                        Manchester</em></strong> compiled by G. A. Lester.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Digby Collection, Bodleian Library, Oxford</em></strong> compiled
                        by Patrick
                        J. Horner.<a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Douce Collection, Bodleian Library, Oxford</em></strong> compiled
                        by Laurel
                        Braswell.<a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Additional Collection (10001-14000), British Library, London</em></strong>
                        compiled by
                        Peter Brown and Elton J. Higgs.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in Yorkshire Libraries and Archives</em></strong> compiled by O. S.
                        Pickering and
                        Susan Powell.<a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in Parisian Libraries</em></strong> compiled by James Simpson.<a
                            href="{% static 'imep-summary.pdf'%}"> See
                        summary</a></li>
                    <li><strong><em>Manuscripts in Oxford College Libraries</em></strong> compiled by S. J.
                        Ogilvie-Thomson.<a
                                href="{% static 'imep-summary.pdf'%}"> See
                            summary</a></li>
                    <li><strong><em>Manuscripts in the Ashmole Collection, Bodleian Library, Oxford</em></strong>
                        compiled by L. M.
                        Eldredge.<a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in Scandinavian Collections</em></strong> compiled by Irma Taavitsainen.<a
                            href="{% static 'imep-summary.pdf'%}"> See
                        summary</a></li>
                    <li><strong><em>Manuscripts in the Library of Trinity College, Cambridge</em></strong> compiled by
                        Linne R.
                        Mooney.<a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in Smaller Bodleian Collections</em></strong> compiled by Ralph Hanna.<a
                            href="{% static 'imep-summary.pdf'%}"> See
                        summary</a></li>
                    <li><strong><em>Manuscripts in Lambeth Palace Library</em></strong> compiled by O. S. Pickering and
                        V. M.
                        O’Mara.<a href="{% static 'imep-summary.pdf'%}"> See
                            summary</a></li>
                    <li><strong><em>Manuscripts in The National Library of Wales (Llyfrgell Genedlaethol Cymru),
                        Aberystwyth</em></strong>
                        compiled by William Marx.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in Midland Libraries</em></strong> compiled by Valerie Edden.<a
                            href="{% static 'imep-summary.pdf'%}">See
                        summary</a></li>
                    <li><strong><em>Manuscripts in the Laudian Collection, Bodleian Library, Oxford</em></strong>
                        compiled by S. J.
                        Ogilvie-Thomson.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Library of Gonville and Caius College, Cambridge</em></strong>
                        compiled by
                        Kari Anne Rand
                        Schmidt.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Collection of Pembroke College, Cambridge, and the Fitzwilliam
                        Museum</em></strong>
                        compiled by Kari Anne Rand.<a href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the University Library, Cambridge</em></strong> compiled by Margaret
                        Connolly. <a
                                href="{% static 'imep-summary.pdf'%}">See
                            summary</a></li>
                    <li><strong><em>Manuscripts in the Library of Corpus Christi College, Cambridge</em></strong>
                        compiled by Kari
                        Anne Rand. <a
                                href="{% static 'imep-summary.pdf'%}"> See summary</a></li>
                    <li><strong><em>Manuscripts in the Hatton and e Musaeo Collections, Bodleian Library,
                        Oxford</em></strong>
                        compiled by Patrick
                        J. Horner.
                    </li>
                    <li><strong><em>Manuscripts in Christ’s, Emmanuel, Jesus, Selwyn and Sidney Sussex Colleges,
                        Peterhouse and
                        Trinity
                        Hall, Cambridge</em></strong> compiled by Angela M. Lucas.
                    </li>
                    <li><strong><em>Manuscripts in the Rawlinson Collection, Bodleian Library, Oxford</em></strong>
                        compiled by S.
                        J.
                        Ogilvie-Thomson.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}